In [2]:
import numpy as np
import pandas as pn

In [39]:
df=pn.read_excel("aml_prac_exam.xlsx")
print(df)

    EnrollMent No  Maths  Data Structure  DBMS Result
0    180280116084     36              78    78   pass
1    180280116085     89              83    71   pass
2    180280116086     75              90    78   pass
3    180280116087     30              94    45  faail
4    180280116088     36              43    78   pass
5    180280116089     39              33    33   fail
6    180280116090     80              34    92   fail
7    180280116091     90              98    94   pass
8    180280116092     75              78    67   pass
9    180280116093     84              58    79   pass
10   180280116094     94              90    80   pass
11   180280116095     27              20    81   fail

In [40]:
anw=pn.DataFrame(df)
print(anw)

    EnrollMent No  Maths  Data Structure  DBMS Result
0    180280116084     36              78    78   pass
1    180280116085     89              83    71   pass
2    180280116086     75              90    78   pass
3    180280116087     30              94    45  faail
4    180280116088     36              43    78   pass
5    180280116089     39              33    33   fail
6    180280116090     80              34    92   fail
7    180280116091     90              98    94   pass
8    180280116092     75              78    67   pass
9    180280116093     84              58    79   pass
10   180280116094     94              90    80   pass
11   180280116095     27              20    81   fail

In [41]:
#mean value of the maths marks
print(anw['Maths'].mean())

62.916666666666664

In [42]:
#mean value of the DBMS marks
print(anw['DBMS'].mean())

73.0

In [43]:
#mean value of the Data Structure marks
print(anw['Data Structure'].mean())

66.58333333333333

In [35]:
#Probability of fail due to Maths
df_fail=anw[df['Result']=='fail']
df_fail

    EnrollMent No  Maths  Data Structure  DBMS Result
5    180280116089     39              33    33   fail
6    180280116090     80              34    92   fail
11   180280116095     27              20    81   fail

In [44]:
len(df_fail[df_fail['Maths']<35])/len(df_fail)

0.3333333333333333

In [52]:
#Probability of fail due to DBMS
len(df_fail[df_fail["DBMS"]<35])/len(df_fail)

0.3333333333333333

In [54]:
#Probability of fail due to DBMS
len(df_fail[df_fail["Data Structure"]<35
           ])/len(df_fail)

1.0

In [55]:
df[df['Maths']<35]

    EnrollMent No  Maths  Data Structure  DBMS Result
3    180280116087     30              94    45  faail
11   180280116095     27              20    81   fail

In [56]:
df[df['DBMS']<35]

   EnrollMent No  Maths  Data Structure  DBMS Result
5   180280116089     39              33    33   fail

In [57]:
df[df["Data Structure"]<35]

    EnrollMent No  Maths  Data Structure  DBMS Result
5    180280116089     39              33    33   fail
6    180280116090     80              34    92   fail
11   180280116095     27              20    81   fail

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
lr=LogisticRegression()

In [61]:
x=df.drop(['EnrollMent No','Result'],axis=1)
y=df[['Result']]

In [62]:
lr.fit(x,y)

C:\Users\pvpat\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\pvpat\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
lr.predict(np.array([78,86,98]).reshape(1,-1))

array(['pass'], dtype=object)

In [64]:
lr.predict(np.array([78,89,33]).reshape(1,-1))

array(['faail'], dtype=object)